body {
  font-family: 'Google Sans', sans-serif;
}

/*
For now, there's three main boxes, and i'll work through them in order
*/

.iconBar {
    display: flex;
    flex-direction: row;

    align-items: center;
    border-bottom: 2px solid #b8b7b7;
}

.navLeft {
    display: flex;
    flex-direction: row;
}

.navRight {
    display: flex;
    flex-direction: row;

    margin-left: auto;
}

.logoWrapper {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    display: flex;
    flex-direction: row;
    transition: 0.3s ease;
}

.logoWrapper:hover {
    filter: brightness(1.4);
}

.logoWrapper img {
    width: 70px;
    height: 70px;
}

.logoWrapper p {
    color:#F1853B;
    font-size: 2.5rem;
    font-weight: bold;
}

.iconWrapper {
    transition: 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;

    background: none;
    border-radius: 5px;
    border: 1px solid #ee955b;

    margin: 5px;
}

.iconWrapper:hover {
    border: 2px solid #f36e15;
    background-color: #f9f9f9;

}

.iconWrapper img {
    width: 30px;
    height: 30px;
}

/*
--------------------------------------------------------------------------------------
*/

.searchBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}

.searchBarWrapper {
    display: flex;
    align-items: center;
    color: #b8b7b7;
    margin: 10px auto;

    width: 1100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #E7E7E7;
    padding: 10px;
}

.searchBarWrapper:hover {
    border: 2px solid #000000;
}

.searchBarWrapper img {
    padding: 5px;
}
.filterWrapper {
    display: flex;
    color:#F1853B;
    font-weight: bold;

    width: 130px;

    margin: 10px;
    flex-direction:row;

    justify-content: center;
    align-items: center;

    border-radius: 15px;
    border: 3px solid #F1853B;
    padding: 10px;
}


.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 110px;

    color: #F1853B;
    font-weight: bold;
    margin: 10px;
    margin-left: auto;

    border-radius: 15px;
    border: 3px solid #F1853B;
    padding: 10px;
}

/*
--------------------------------------------------------------------------------------
*/

.listings {
}

.photoGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
}

.card {
    aspect-ratio: 9/10;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;

    overflow: hidden;
    gap: 5px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
    gap: 5px;
    
    transition: filter 0.2s ease;
}

/*
To make the text go on top of the image
*/
.nameText {
    font-size: 1.2rem;;
    display: flex;
    background-color: #F1853B;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;

    padding: 10px;
    border-radius: 10px;

    width: 90%;
    height: 8%;
    object-fit: cover;
    align-items: center;
}

.roomText {
    display: flex;
    background-color: white;
    position: absolute;
    top: 5px;
    right: 8px;

    height: 3%;
    align-items: center;
    
    padding: 10px;
    line-height: 0;
    border-radius: 20px;
}

/*Hover animations*/
.card:hover img {
    filter: brightness(0.7);
}

/*----------------------------------------------------------------------------------------
I recreated the website on a large moniter. I'm using media queries to try 
and make it look good across mulitple screen sizes
*/

/*For Laptops*/
@media (max-width: 1500px) {
    .searchBarWrapper {
        width: 900px;
    }

    .nameText {
        width: 88%;
    }
}

/*For Tablets like ipad*/
@media (max-width: 1200px) {
    .photoGrid {
        grid-template-columns: repeat(3, 1fr);
    }

    .searchBarWrapper {
        width: 600px;
    }
}

/*in-between*/
@media (max-width: 900px) {
    .photoGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .searchBar {
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: auto auto;
    }

    .filterWrapper {
        grid-column: 1/2;
        grid-row: 2;
    }

    .searchBarWrapper {
        width: 600px;
        grid-column: 1/3;
        grid-row: 1;
    }

    .sortWrapper {
        grid-column: 2/3;
        grid-row: 2;
    }
}

/*For Phones*/
@media (max-width: 600px) {
    .photoGrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        aspect-ratio: 30/9;
    }

    .card img {
        filter: brightness(0.7);
    }

    .card:hover img {
        filter: brightness(1);
    }

    .searchBar {
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: auto auto;
    }

    .filterWrapper {
        grid-column: 1/2;
        grid-row: 2;
    }

    .searchBarWrapper {
        width: 400px;
        grid-column: 1/3;
        grid-row: 1;
    }

    .sortWrapper {
        grid-column: 2/3;
        grid-row: 2;
    }

    .nameText {
        background: none; 
        align-items: center;
        height: auto;
        right: auto;
        font-size: 1.2rem;
    }

    .logoWrapper p {
        display: none;
    }
}